@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,400,600,700;1,14..32,600&display=swap');

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey700: hsl(0, 0%, 20%);
    --grey800: hsl(0, 0%, 12%);
    --grey900: hsl(0, 0%, 8%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    font-size: 14px;
    background: var(--grey900);
    color: var(--white);
}

.container {
    width: 375px;
    margin: auto;
    padding: 30px 20px 20px 20px;
}

.card {
    background: var(--grey800);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 20px 20px 10px 20px;
}

img{
    width: 120px;
    border-radius: 100px;
    margin-bottom: 25px;
}

.title{
    font-size: 30px;
    font-weight: 700;
}

.sub-title{
    color: var(--green);
    line-height: 3rem;
    font-weight: 600;
    font-size: 18px;
}

.frase{
    font-weight: 500;
    line-height: 6rem;
}

.card-social{
    background: var(--grey700);
    width: 95%;
    text-align: center;
    padding: 12px 0;
    margin-bottom: 15px;
    border-radius: 10px;
    cursor: pointer;

    a{
        color: var(--white);
        text-decoration: none;
    }

    a:hover {
        color: var(--green);
        text-decoration: none;
        transition: ease 0.5s;
    }
}

@media screen and (min-width: 1440px) {
    .container{
        padding-top: 100px;
    }
}


/* Footer */
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 30px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}